<%- include("template/base.ejs"); %>

<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="display-4">
            404 - Link not found!
        </h1>
    </div>
</div>
