<%- include("template/base.ejs"); %>

<div class="container homepage">

    <div class="title d-flex justify-content-center">
        <h1 class="display-3">
            /shortaf/
        </h1>
    </div>

    <div class="subtitle d-flex justify-content-center">
        <p>
            make your very long link shorter
        </p>
    </div>

    <div class="content card bg-light">
        <div class="card-body">

            <form action="/" method="POST">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="url" class="form-control" id="inoutUrl" name="inoutUrl" value="<%= shorturl %>">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="form-control btn btn-primary" id="submitBtn" value="Shorten">
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

