<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortaf</title>
    <link rel="icon" type="image/png" href="/img/ball.png"/>
</head>
<body>
    <form action="/" method="POST">
    <input type="url" id="inoutUrl" name="inoutUrl" value="<%= shorturl %>">
    </form>
    
</body>
</html>