<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortaf</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%= data.makanan %>
    is too
    <% if(data.harga > 10000){ %>
        expensive
    <% } else { %>
        cheap
    <% } %>

</body>
</html>